In [1]:
name=input("Tell me your good name sir! ")

Tell me your good name sir! Areeba

In [3]:
print(name)
print (type(name))

Areeba
<class 'str'>

In [5]:
age=input("Tell me your age")
print(age)
print(type(age))

Tell me your age19
19
<class 'str'>

In [6]:
areeba,naz=input("Tell me your age ").split(',')

Tell me your age 20,30

In [7]:
areeba

'20'

In [8]:
naz

'30'

In [9]:
areeba+1

TypeError: can only concatenate str (not "int") to str

In [ ]:
##type casting 
#changing the dataa dype of value to another data type is called type casting

In [10]:
type(100)

int

In [11]:
type(str(100))

str

In [12]:
type(int("500"))

int

In [15]:
type(str("areeba"))

str

In [16]:
country="Pakistan"
country.lower()

'pakistan'

In [17]:
country="Pakistan"
country.upper()

'PAKISTAN'

In [18]:
sentence="hi, welcome to python world!"
sentence.capitalize()

'Hi, welcome to python world!'

In [23]:
sentence.count('p')

1

In [35]:
sentence.endswith('ld')

False

In [36]:
sentence.startswith('h')

True

In [37]:
sentence.find('w')

4

In [51]:
# indexing
#     -15     -7    -1
text="Hello my Friends"
#     0123456789101112131415

In [52]:
text[3]

'l'

In [53]:
text[15]

's'

In [54]:
text[0]

'H'

In [55]:
text[5]

' '

In [56]:
text[-4]

'e'

In [57]:
text

'Hello my Friends'

In [58]:
text[-1]

's'

In [59]:
text[-2]

'd'

In [60]:
text.find('e')

1

In [61]:
text.find('e', 2)

12

In [62]:
text.index('y')

7

In [63]:
text.isalnum()
text.isalpha()
text.isascii()
# Note implement all other function of string

True

In [64]:
chr(78)

'N'

In [69]:
first_Name="Areeba"
last_Name="Khan"

In [72]:
first_Name="Areeba"
last_Name="Khan"

print(first_Name+ " "+ last_Name +" "+ str(19))

Areeba Khan 19

In [84]:
user_name=(input("Enter your name "))
user_age=int(input("Enter your age "))
print("user name is "+ user_name+ " and user age is "+str(user_age))

Enter your name AREEBA
Enter your age 19
user name is AREEBA and user age is 19

In [85]:
after_10_years = user_age + 10

In [86]:
after_10_years

29

In [88]:
## FORMATTING
user_name=str(input("Enter your name "))
user_age=int(input("Enter your age "))
"user name is {} and user age is {}".format(user_name,user_age)

Enter your name AREEBA
Enter your age 19

'user name is AREEBA and user age is 19'

In [92]:
"user name is {0} and age is {1} ".format("Hassan",50)

'user name is Hassan and age is 50 '

In [94]:
"user name is {0} and age is {1} {0}".format("Hassan",50)

'user name is Hassan and age is 50 Hassan'

In [ ]:
## f-method ##

In [4]:
user_name =input("Enter your name ")
user_age = int(input("Enter your age "))
f"user name is {user_name} and user age is {user_age} "

Enter your name areeba
Enter your age 19

'user name is areeba and user age is 19 '

In [7]:
print("I am learning python \nwe are in karachi")

I am learning python
we are in karachi

In [8]:
# we can make a string using single quote (' ')

a_single_quote_string_value='i am single quote string value'

In [9]:
# we can make a string using double quote (" ")

a_double_quote_string_value=" i am double qoute string value"

In [10]:
# we can make a string usng triple quote("""    """ )

a_triple_quote_string_value= ''' a triple quote string value '''

triple_quote_string_value= """ triple quote string value """

In [13]:
name=input("Enter your Name ")
father_name=input("Enter your Father name ")
course =input("Enter your course ")
batch =input("Enter your batch ")
centre= input("enter your center ")

Enter your Name AREEBA
Enter your Father name SHAMS
Enter your course AI
Enter your batch 36
enter your center SIR SYED UNIVERSITY

In [19]:
print(f"""     
        ID CARD
        __________
        
        Name:  {name}
        
        Father : {father_name}
        
        Course : {course}
        
        Batch  : {batch}
        
        Centre : {centre}
        
        """)

        ID CARD
        __________

        Name:  AREEBA

        Father : SHAMS

        Course : AI

        Batch  : 36

        Centre : SIR SYED UNIVERSITY